name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches:
      - main # Or your main development branch

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Build Flutter Web
        run: flutter build web --release --web-renderer html --base-href /perfect-pitch-counter/ # Adjust base-href for project sites

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
          publish_branch: gh-pages # Uncomment if deploying to a dedicated gh-pages branch